/**
 * @file
 * LMS toolbar icon styling.
 */

/* Tray styling (second row) */
.toolbar-tray .toolbar-icon.toolbar-icon-library-management-system-admin-library-management-system:before {
  background-image: url("../icons/787878/library.svg");
}
.toolbar-tray .toolbar-icon.toolbar-icon-library-management-system-admin-library-management-system:active:before,
.toolbar-tray .toolbar-icon.toolbar-icon-library-management-system-admin-library-management-system.is-active:before {
  background-image: url("../icons/000000/library.svg");
}
