{#
/**
 * @file lmsbook.html.twig
 * Default theme implementation to present LmsBook data.
 *
 * This template is used when viewing LmsBook pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_lmsbook()
 *
 * @ingroup themeable
 */
 #}
 <div{{ attributes.addClass('lmsbook') }}>
 {% if content %}
 	{{- content -}}
 {% endif %}
</div>

